bg-movie-search {
  margin: 75px 0;
  display: block;
  text-align: center;
  .genre {
    height: 30px;
    width: 100px;
    border-color: gainsboro;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .search {
    height: 26px;
    width: 400px;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 600px) {

  bg-movie-search {
    margin: 0 0 0 0;
    position: fixed;
    width: auto;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;

    .genre {
      border-radius: 0;
      border-left: none;
      padding-left: 5px;
      float: left;
    }
    .search {
      border-right: none;
      border-radius: 0;
      float: right;
    }
  }
}
